<h1>Good Day <%= name %> my Buddy!!!</h1>
<br>
<p>You here because you are the First One in that travel, then enjoy it a lot!!!</p>
<br>
<a href="http://www.google.com" target="_blank">Start</a>
<br>
<hr />
<p><small>by RoGPe</small></p>